<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ru" xml:lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>User Management</title>
    <base href="/">
</head>
<body>
<h1>User Management</h1>
<button id="logoutButton" onclick="logout()">Logout</button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Years old</th>
        <th>Login</th>
        <th>Password</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody id="userTableBody">
    </tbody>

    <tbody id="addUserRow">
    <tr>
        <td style="font-size: 13px;" >NEW</td>
        <td>
            <label for="newFirstName"></label>
            <input type="text" id="newFirstName" name="firstName"
                   th:value="${newFirstName != null ? newFirstName : ''}" size="13">
        </td>
        <td>
            <label for="newLastName"></label>
            <input type="text" id="newLastName" name="lastName"
                   th:value="${newLastName != null ? newLastName : ''}" size="13">
        </td>
        <td>
            <label for="newSex"></label>
            <select id="newSex" name="sex" onchange="updateSelectedSex(this)">
                <option th:each="sex : ${T(web.models.enums.SexEnum).values()}"
                        th:value="${sex.name()}" th:text="${sex.displayName}"></option>
            </select>
        </td>
        <td>
            <label for="newAge"></label>
            <input type="number" id="newAge" name="age" min="0" step="1" th:value="${newAge != null ? newAge : '0'}" size="3">
        </td>
        <td>
            <label for="newLogin"></label>
            <input type="text" id="newLogin" name="login" th:value="${newLogin != null ? newLogin : ''}" size="13">
        </td>
        <td>
            <label for="newPassword"></label>
            <input type="password" id="newPassword" name="password"
                   th:value="${newPassword != null ? newPassword : ''}" size="13">
        </td>
        <td>
            <label for="newEmail"></label>
            <input type="email" id="newEmail" name="email" th:value="${newEmail != null ? newEmail : ''}" size="13">
        </td>
        <td>
            <label for="newRole"></label>
            <select id="newRole" name="emptyRole" onchange="updateSelectedRole2(this)" selectedIndex="-1">
                <option value="" disabled selected>SELECT ROLE</option>
                <option th:each="role : ${T(web.models.enums.RoleType).values()}"
                        th:value="${role.name()}" th:text="${role.displayName}"></option>
            </select>
        </td>
        <td>
            <button onclick="saveUser(this); return false;">ADD USER</button>
        </td>
    </tr>
    <tr>
        <td>
        <td>
        <td>
        <td>
            <button onclick="resetTable()">RESET TABLE</button>
        </td>
    </tr>
</table>

<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", onPageLoad);

    function onPageLoad() {
        getAllUsers();
    }

    function updateSelectedRole2(selectElement) {
        var selectedRole = selectElement.value;
        var parentCell = selectElement.parentNode;
        var newSelect = document.createElement('select');

        newSelect.name = 'role';
        newSelect.onchange = function() {
            updateSelectedRole(this);
        };

        parentCell.appendChild(newSelect);

        Array.from(selectElement.options).forEach(function(option) {
            var newOption = new Option(option.text, option.value);
            newSelect.add(newOption);
        });

        newSelect.value = selectedRole;
        selectElement.value = '';
    }

    function getAllUsers() {
        fetch('api/getAllUsers')
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Request failed');
                }
            })
            .then(responseData => {
                users = responseData;
                console.log('Users:', users);
                createTable(users);
            })
            .catch(error => {
                console.error('Error getting all user:', error);
            });
    }

    function saveUser(button) {
        const row = button.closest('tr');
        const inputs = row.querySelectorAll('input, select');
        const user = {};
        var selectedRoles = [];

        inputs.forEach(input => {
            if (input.name === 'role') {
                selectedRoles.push(input.value);
            } else {
                user[input.name] = input.value;
                input.setAttribute('disabled', 'disabled');
            }
        });

        const combinedData = {
            user: user,
            roles: selectedRoles
        }

        fetch('api/saveUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(combinedData)

        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return response.text().then(errorMessage => {
                        throw new Error(errorMessage);
                    });
                }
            })
            .then(responseData => {
                const newUser = responseData;

                console.log('User saved:', newUser);

                const newUserRow = createTableRow(newUser);
                const tableBody = document.getElementById('userTableBody');
                const addUserRow = document.getElementById('addUserRow');
                tableBody.appendChild(newUserRow);
                clearAddRowInputs(addUserRow);
                enableInputs(addUserRow);
            })
            .catch(error => {
                console.error('Error save user:', error.message);
                enableInputs(row);
            });
    }

    function updateUser(date) {
        const row = date.closest('tr');
        const inputs = row.querySelectorAll('input, select');
        const user = {};
        var selectedRoles = [];

        inputs.forEach(input => {
            if (input.name === 'role') {
                selectedRoles.push(input.value);
            } else {
                user[input.name] = input.value;
                input.setAttribute('disabled', 'disabled');
            }
        })

        const combinedData = {
            user: user,
            roles: selectedRoles
        }

        date.style.display = 'none';
        date.previousElementSibling.style.display = 'inline-block';

        fetch('api/updateUser', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(combinedData),
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    return response.text().then(errorMessage => {
                        throw new Error(errorMessage);
                    });
                }
            })
            .catch(error => {
                console.error('Update error:', error.message);
            });

    }

    function deleteUser(button) {
        const row = button.parentNode.parentNode;
        const idElement = row.querySelector('input[name="id"]');
        const userId = idElement.value;

        return fetch(`api/deleteUser/${userId}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (response.ok) {
                    row.remove();
                    console.log('Deleting user id: ' + userId + ' successful');
                } else {
                    throw new Error('Request for delete User failed');
                }
            })
            .catch(error => {
                console.error('Error deleting user:', error);
            });
    }

    function resetTable() {

        return fetch(`api/resetTable`, {
            method: 'DELETE'
        })
            .then(response => {
                if (response.ok) {
                    location.reload();
                    console.log('Table was clean');
                } else {
                    throw new Error('Request for clear table failed');
                }
            })
            .catch(error => {
                console.error('Error cleaning table:', error);
            });
    }

    function createTable(users) {
        users.forEach( user => {
            console.log(user);
            const newUserRow = createTableRow(user);
            const tableBody = document.getElementById('userTableBody');
            tableBody.appendChild(newUserRow);
        });
    }

    function createTableRow(user) {

        const row = document.createElement('tr');
        const idCell = createTableCell('text', 'id', user.id, true, 6);
        row.appendChild(idCell);
        const firstNameCell = createTableCell('text', 'firstName', user.firstName, true, 13);
        row.appendChild(firstNameCell);
        const lastNameCell = createTableCell('text', 'lastName', user.lastName, true, 13);
        row.appendChild(lastNameCell);
        const sexCell = createSelectCellForSex('sex', user.sex.displayName);
        row.appendChild(sexCell);
        const ageCell = createTableCell('number', 'age', user.age, true, 3);
        row.appendChild(ageCell);
        const loginCell = createTableCell('login', 'login', user.login, true, 13);
        row.appendChild(loginCell);
        const passwordCell = createTableCell('password', 'password', user.password, true, 13);
        row.appendChild(passwordCell);
        const emailCell = createTableCell('email', 'email', user.email, true, 13);
        row.appendChild(emailCell);

        const roleCell = document.createElement('td');
        const roleLabel = document.createElement('label');
        roleLabel.setAttribute('for', 'newRole');
        roleCell.appendChild(roleLabel);

        const roleSelect = document.createElement('select');
        roleSelect.setAttribute('id', 'newRole');
        roleSelect.setAttribute('name', 'emptyRole');
        roleSelect.setAttribute('onchange', 'updateSelectedRole2(this)');
        roleSelect.setAttribute('selectedIndex', '-1');

        const defaultOption = document.createElement('option');
        defaultOption.setAttribute('value', '');
        defaultOption.setAttribute('disabled', '');
        defaultOption.setAttribute('selected', '');
        defaultOption.textContent = 'SELECT ROLE';
        roleSelect.appendChild(defaultOption);

        const roleEnumValues = ['DELETE','USER', 'ADMIN', 'MANAGER', 'MODERATOR'];
        roleEnumValues.forEach(role => {
            const roleOption = document.createElement('option');
            roleOption.setAttribute('value', role);
            roleOption.setAttribute('text', role);
            roleOption.textContent = role;
            roleSelect.appendChild(roleOption);
        });

        roleCell.appendChild(roleSelect);

        user.roles.forEach(role => {
            console.log(role);
            roleCell.appendChild(createSelectCellForRole('role', role.roleType.displayName));
        })


        row.appendChild(roleCell)

        const actionCell = document.createElement('td');
        const editButton = createButton('EDIT', 'edit(this)');
        const saveButton = createButton('SAVE', 'updateUser(this)', 'none');
        const deleteButton = createButton(' DELETE', 'deleteUser(this)');
        row.appendChild(actionCell)
        actionCell.appendChild(editButton);
        actionCell.appendChild(saveButton);
        actionCell.appendChild(deleteButton);
        return row;
    }

    function showPopup() {
        const popup = document.getElementById("popup");
        popup.style.display = "block";
    }

    function closePopup() {
        const popup = document.getElementById("popup");
        popup.style.display = "none";
        location.reload();
    }

    function edit(button) {
        const row = button.closest('tr');
        enableInputs(row);
        button.style.display = 'none';
        button.nextElementSibling.style.display = 'inline-block';
    }

    function disableInputs(row) {
        const inputs = row.querySelectorAll('input, select');
        inputs.forEach(input => input.setAttribute('disabled', 'disabled'));
    }

    function enableInputs(row) {
        const inputs = row.querySelectorAll('input, select');
        inputs.forEach(input => input.removeAttribute('disabled'));
    }

    function clearAddRowInputs(row) {
        const rowInputs = row.querySelectorAll('input, select');
        rowInputs.forEach(input => {
            if (input.tagName === 'SELECT') {
                input.selectedIndex = 0;
            } else {
                input.value = '';
            }
        });
        const rowSelects = row.querySelectorAll('select');
        rowSelects.forEach(select => {
            if(select.name === 'role') {
                select.remove();
            }
        })
    }

    function createSelectCellForRole(name, selectedValue) {
        const select = document.createElement('select');

        select.name = name;

        const roleEnumValues = ['DELETE','USER', 'ADMIN', 'MANAGER', 'MODERATOR'];
        roleEnumValues.forEach(value => {
            const option = document.createElement('option');
            option.value = value;
            option.textContent = value;
            if (value === selectedValue) {
                option.selected = true;
            }
            select.appendChild(option);
        });

        return select;
    }

    function createSelectCellForSex(name, selectedValue) {
        const cell = document.createElement('td');

        const select = document.createElement('select');

        select.name = name;

        const sexEnumValues = ['MALE', 'FEMALE', 'UNDEFINED'];
        sexEnumValues.forEach(value => {
            const option = document.createElement('option');
            option.value = value;
            option.textContent = value;
            if (value === selectedValue) {
                option.selected = true;
            }
            select.appendChild(option);
            select.setAttribute('disabled', 'disabled');
        });

        cell.appendChild(select);
        return cell;
    }

    function updateSelectedSex(selectElement) {
        const selectedSex = selectElement.value;
        const rolValue = selectElement.getAttribute('rol');
        if (rolValue) {
            enableInputs(rolValue);
        }
        console.log('Selected Sex:', selectedSex);
    }

    function updateSelectedRole(selectElement) {
        const selectedRole = selectElement.value;
        const rolValue = selectElement.getAttribute('rol');

        if (rolValue) {
            enableInputs(rolValue);
        }

        console.log('Selected Role:', selectedRole);
    }

    function createTableCell(type, name, value, disabled, size) {
        const cell = document.createElement('td');
        const input = document.createElement('input');
        input.type = type;
        input.name = name;
        input.value = value;
        input.size = size;
        if (disabled) {
            input.setAttribute('disabled', 'disabled');
        }
        cell.appendChild(input);
        return cell;
    }

    function createButton(text, onclick, display = 'inline-block') {
        const button = document.createElement('button');
        button.textContent = text;
        button.onclick = function () {
            eval(onclick);
        };
        button.style.display = display;
        return button;
    }

    function logout() {
        fetch('api/logout', {
            method: 'POST'
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/login';
                } else {
                    console.error('Logout failed');
                }
            })
            .catch(error => {
                console.error('Logout failed', error);
            });
    }

</script>

<style>
    .popup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .popup-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        position: relative;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #logoutButton {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .popup-button {
        margin-right: 10px;
    }

    body {
        position: relative;
    }
</style>
</body>
</html>